# Dependencias
node_modules/

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Directorios de sistema operativo
.DS_Store
Thumbs.db

# Directorios de IDE y editores
.idea/
.vscode/
*.swp
*.swo

# Archivos de compilación y distribución
/dist
/build